services:
  db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: pragma
      POSTGRES_PASSWORD: pragma123
      POSTGRES_DB: admin_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql


volumes:
  db_data: